<header>
  <div class="header-wrapper">
    <p class="title">Stage</p>
    <div class="header-right">
      <p>会員登録</p>
      <p>ログイン</p>
    </div>
  </div>
</header>
<div class="search">
  <div class="search-wrapper">
    <div class="search-field">
      <i class="fa fa-search"></i>
      <%# JSで枠線色変更 %>
      <input type="search" placeholder="検索">
    </div>
    <label><input type="radio" name="search" class="radio">舞台</label>
    <label><input type="radio" name="search" class="radio">劇団</label>
    <label><input type="radio" name="search" class="radio">地域</label>
    <label><input type="radio" name="search" class="radio">ユーザー</label>
    <input type="submit" value="検索" class="search-submit">
  </div>
</div>
<div class="contents">
  <div class="contents-wrapper">
    <div class="now-stages">
      <p>上映中の舞台</p>
      <div class="stages">
        <div class="stage">
          <img src="/" width="200px" height="250px">
        </div>
        <div class="stage">
          <img src="/" width="200px" height="250px">
        </div>
        <div class="stage">
          <img src="/" width="200px" height="250px">
        </div>
        <div class="stage">
          <img src="/" width="200px" height="250px">
        </div>
      </div>
      <div class="more-btn">
        もっと見る
      </div>
    </div>
  </div>
</div>
<div class="contents gray">
  <div class="contents-wrapper">
    <div class="now-stages">
      <p>最近投稿されたレビュー</p>
      <div class="stages">
        <div class="stage">
          <img src="/" width="300px" height="250px">
        </div>
        <div class="stage">
          <img src="/" width="300px" height="250px">
        </div>
        <div class="stage">
          <img src="/" width="300px" height="250px">
        </div>
      </div>
      <div class="more-btn">
        もっと見る
      </div>
    </div>
  </div>
</div>
<div class="contents">
  <div class="contents-wrapper">
    <div class="now-stages">
      <p>劇団一覧</p>
      <div class="stages">
        <div class="stage">
          <img src="/" width="120px" height="150px">
        </div>
        <div class="stage">
          <img src="/" width="120px" height="150px">
        </div>
        <div class="stage">
          <img src="/" width="120px" height="150px">
        </div>
        <div class="stage">
          <img src="/" width="120px" height="150px">
        </div>
        <div class="stage">
          <img src="/" width="120px" height="150px">
        </div>
        <div class="stage">
          <img src="/" width="120px" height="150px">
        </div>
      </div>
      <div class="more-btn">
        もっと見る
      </div>
    </div>
  </div>
</div>
<div class="contents gray">
  <div class="contents-wrapper">
      <div class="now-stages">
        <p>人気のユーザー</p>
        <div class="stages">
          <div class="stage">
            <img src="/" width="300px" height="250px">
          </div>
          <div class="stage">
            <img src="/" width="300px" height="250px">
          </div>
          <div class="stage">
            <img src="/" width="300px" height="250px">
          </div>
        </div>
        <div class="more-btn">
          もっと見る
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-wrapper">
    <div class="left">
      <p class="powred">Powered by</p>
      <p class="title">Stage</p>
    </div>
    <p class="right">Copyright ©︎ 2020 - Amane Imamura, All Rights Reserved.</p>
  </div>
</footer>