<footer>
  <div class="footer-wrapper">
    <div class="left">
      <p class="powred">Powered by</p>
      <p class="title">Stage</p>
    </div>
    <p class="right">Copyright ©︎ 2020 - Amane Imamura, All Rights Reserved.</p>
  </div>
</footer>